
@import '../../../theme.scss';

.user-button-container {
  height: 100%;
  position: relative;

  .user-button {
    height: 100%;
    min-width: 72px;

    .avatar {
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }

    .name {
      margin: 0 8px 0 10px;
    }

    .icon {
      width: 16px;
      height: 16px;
      font-size: 16px;
      -webkit-transform: rotate(0);
      transform: rotate(0);
      transition: -webkit-transform .25s cubic-bezier(.25,.8,.25,1);
      transition: transform .25s cubic-bezier(.25,.8,.25,1);
      transition: transform .25s cubic-bezier(.25,.8,.25,1),-webkit-transform .25s cubic-bezier(.25,.8,.25,1);
    }
  }

  .user-button.open {
      background: $app-toolbar-button-focus;
  }

}

.mat-menu-panel.user-button-dropdown {
  max-width: none;
  overflow: visible;
  min-width : 200px;
}

.user-button-row {
  min-width : 200px;
}



.avatar {
  width: 30px;
  min-width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}
