<div #userbutton class="user-button-container">

  <button mat-button class="user-button" [matMenuTriggerFor]="menu" [class.open]="isOpen"  (click)="isOpen=!isOpen">
    <span fxLayout="row" fxLayoutAlign="start center">
      <img class="avatar" src="assets/img/avatars/noavatar.png">
      <span class="name" fxhide="" fxshow.gt-sm="" style="display: block;">Ewan Middleton</span>
      <mat-icon class="icon mat-icon material-icons" fxhide="" fxshow.gt-sm="" role="img" aria-hidden="true" style="display: block;">keyboard_arrow_down</mat-icon>
    </span>
    <div matripple class="mat-button-ripple mat-ripple"></div>
    <div class="mat-button-focus-overlay"></div>
  </button>

  <mat-menu #menu="matMenu" [overlapTrigger]="false" (closed)="isOpen=false" yPosition="below" xPosition="before" class="user-button-dropdown">
      <button mat-menu-item>
          <mat-icon>account_circle</mat-icon>
          <span>Profile</span>
      </button>
      <button mat-menu-item>
          <mat-icon>settings</mat-icon>
          <span>Settings</span>
      </button>
      <button mat-menu-item>
          <mat-icon>help</mat-icon>
          <span>Help</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item>
          <mat-icon>exit_to_app</mat-icon>
          <span>Logout</span>
      </button>
  </mat-menu>

</div>
