<!-- Material Tab -->
<mat-card>
  <mat-card-content>
    <h2 class="example-h2">Controls</h2>

    <!-- <zef-controls-datatable></zef-controls-datatable>

    <mat-tab-group>
      <mat-tab label="Details">
        <p>The Air Nomads were a civilization composed of people who practiced the art of airbending. While nomadic, Air Nomads
          did inhabit four major air temples, each built on remote locations, only easily reachable with flying bison. The
          Air Nomads were a highly spiritual group of people.</p>
      </mat-tab>
      <mat-tab label="Triggers">
        <p>The Water Tribe is a collective term for people, some of whom practice the art of waterbending, who follow a government
          system in the form of a tribal chiefdom. Although members of the Water Tribe typically inhabit the polar regions,
          the North Pole and the South Pole, there is a small population of waterbenders who inhabit the Foggy Swamp in Earth
          Kingdom territory. The two main tribes are the Northern Water Tribe at the North Pole and the Southern Water Tribe
          at the South Pole.</p>
      </mat-tab>
      <mat-tab label="History">
        <p>The Earth Kingdom is a massive continent led by an earth monarch and is home to people who practice the art of earthbending.
          Being the largest of the four nations, it is ethnically diverse with a variance of customs and cultural traditions.
          The people of the Earth Kingdom are strong and persistent. The geography of the Earth Kingdom varies tremendously,
          ranging from wooded forests to blazing deserts, mountainous terrain, and grassy plains.
        </p>
      </mat-tab>
      <mat-tab label="Tasks">
        <p>The Fire Nation is home to people who practice the art of firebending and is an absolute monarchy led by the Fire
          Lord. Being composed of several major islands and located on the equator, the nation is considered to be an archipelago.
          Its economy is the largest and most powerful in the world with a strong industrial sector and advanced technological
          developments. The climate is normally humid and warm which allows for a diversity of flora and fauna to thrive.</p>
      </mat-tab>
    </mat-tab-group> -->


  </mat-card-content>
</mat-card>
<!-- /Material Tab -->
